.col2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 320px;
  width: 100%;
  color: #d3d3d3;
  background-color: #131313;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.col2 .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 320px;
  max-width: 1296px;
  padding-left: 32px;
  padding-right: 32px;
}

.colr,
.coll {
  min-width: 256px;
  max-width: 648px;
}

.col2 p {
  width: 100%;
  line-height: 1.8;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: justify;
}

.col2 img {
  max-width: 480px;
  margin-left: 60px;
  border-radius: 2px;
}

@media only screen and (min-width: 1px) and (max-width: 1055px) {
  .colr,
  .coll {
    min-width: 256px;
    max-width: 100%;
    width: 100%;
  }

  .coll {
    text-align: center;
  }

  .colr {
    margin-bottom: 44px;
  }

  .col2 img {
    max-width: 100%;
    margin-left: 0px;
  }

  .col2 {
    padding-top: 4px;
    padding-bottom: 36px;
  }

  .col2 p {
    text-align: center;
  }

  a.button2 {
    margin-left: auto;
    margin-right: auto;
  }

  .col2 img {
    max-width: 480px;
    width: 100%;
    margin-left: 0px;
    border-radius: 2px;
  }

  .col2 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 44px;
    font-weight: normal;
    text-align: center;
    padding-top: 32px;
  }
}

@media only screen and (min-width: 1056px) and (max-width: 1251px) {
  .col2 img {
    max-width: 280px;
  }
}
