footer {
  min-width: 320px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  color: #d3d3d3;
  background-color: #131313;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h5 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #bb9a72;
  margin-bottom: 16px;
}

footer .container a,
footer .container p {
  color: #d3d3d3;
  display: block;
  line-height: 1.8;
  display: flex;
  align-items: center;
}

footer .container a i,
footer .container p i {
  width: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: #bb9a72;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

footer .container div {
  width: 256px;
  margin-bottom: 32px;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

footer .infos {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

footer .infos a {
  display: block;
  margin-top: 12px;
  color: #bb9a72;
}

footer .container a {
  color: #d3d3d3;
}

footer .container a:hover {
  color: #bb9a72;
}

@media only screen and (min-width: 1px) and (max-width: 927px) {
  footer .container div {
    text-align: center;
    justify-content: center;
  }

  footer .container div a,
  footer .container div p {
    text-align: center;
    justify-content: center;
  }

  footer .container div,
  footer .container div {
    text-align: center;
    justify-content: center;
  }

  footer .container,
  footer .container {
    text-align: center;
    justify-content: center;
  }

  footer {
    text-align: center;
    justify-content: center;
  }
}
